<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>
    <compilation debug="true">
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="BarcodeHandler" path="/Barcode/*" verb="*" type="BarcodeHandler, Simulware.Barcode" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>