<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>
    <compilation debug="true">
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="BarcodeHandler" path="/Barcode/*" verb="*" type="BarcodeHandler, Simulware.Barcode" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=WIN-53OQL7NNTP1\SQLEXPRESS;Initial Catalog=Datamatrix;Persist Security Info=True;User ID=test;Password=HttpHandlerSimulware1"/>
  </connectionStrings>
  <appSettings>
    <add key="ModuleSize" value="1"/>
    <add key="MarginSize" value="12"/>
  </appSettings>
</configuration>